.pizarra{
    display: flex;
    justify-content: center;
}

.pizarra canvas{
    border: 1px solid black;
}

.limpiar{
    display: flex;
    justify-content: center;
}

.pizarra2 canvas{
    border: 1px solid black;

}

.letter{
    display: flex;
    align-items: center;
    border: black;
}